
			<header class="clearfix">
				<a href="#" id="burgerMenu"><span></span></a>
				<a href="/"><img src="/img/reichel-signet.svg" width="250" id="kopflogo" alt="image"></a>
				<h1>Formularserver &ndash; Anlagen</h1>
			</header>