			<footer class="clearfix">		
				<address>
				<h2><span>Hein Blöd<br></h2>
				<p>Am alten Deich 2 | 12345 Döspaddelkoog | <span>E-Mail:</span> <a href="mailto:hein@bloed.de">hein@bloed.de</a></p>
				</address>
			</footer>			